{
    "branches": [
        "main"
    ],
        "plugins": [
            "@semantic-release/commit-analyzer",
            "@semantic-release/release-notes-generator",
            [
                "@semantic-release/github",
                {
                    "successComment": "released!",
                    "assignees": false,
                    "releasedLabels": "released",
                    "assets": [
                        {
                            "path": "dist/cli.js",
                            "label": "cli.js"
                        }
                    ]
                }
            ],
            "@semantic-release/changelog",
            "@semantic-release/git",
            [
                "@semantic-release/npm",
                {
                    "npmPublish": true,
                }
            ],
        ]
}
